In [1]:
print(input("Nama: "))
print(input("NIM: "))
print(input("Kelas: "))

Wildan Faris Ashari
I0322129
D

## 1.

diketahui dimensi sebuah aquarium tanpa penutup atas sebagai berikut:

```python
p = 11
l = 1.99
t = 25.87
```
buatkan program sederhana untuk menghitung diagonal tiap sisi dan luas permukaan aquarium tersebut tanpa menggunakan module math.

In [6]:
#variabel dimensi aquarium
p = 11
l = 1.99
t = 25.87

#program menghitung diagonal sisi aquarium
print('=========================================================')
diagonal_samping = (p**2 + t**2)**0.5
diagonal_depan = (l**2 + t**2)**0.5
diagonal_bawah = (p**2 + l**2)**0.5
print('Diagonal samping aquarium adalah : ', diagonal_samping)
print('Diagonal depan aquarium adalah : ', diagonal_depan)
print('Diagonal bawah aquarium adalah : ', diagonal_bawah)
print('=========================================================')

#program menghitung luas permukaan aquarium
luas_permukaan = ((2*(p*t) + 2*(l*t) + (p*l)))
print('Luas permukaan aquarium adalah : ', luas_permukaan)
print('=========================================================')

=========================================================
Diagonal samping aquarium adalah :  28.11150831954771
Diagonal depan aquarium adalah :  25.946425572706545
Diagonal bawah aquarium adalah :  11.17855536283647
=========================================================
Luas permukaan aquarium adalah :  693.9925999999999
=========================================================

## 2.

diberikan data nilai mahasiswa sebagai berikut:

In [1]:
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}

buatlah program sederhana untuk menghitung nilai rata-rata semua mahasiswa dan mencari siapa yang mendapatkan nilai tertinggi dan nilai terendah. 
> *note: tidak perlu menggunakan loops untuk membuat program nya*

In [2]:
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}

#porgram menghitung rata-rata
print('=======================================================')
rerata = (sum(nilai.values())/5)
print('Nilai rata-rata seluruh mahasiswa adalah : ', rerata)

#mencari mahasiswa dengan nilai tertinggi
print('=======================================================')
tertinggi = max(nilai.values())
mahasiswa_tertinggi = max(nilai, key=nilai.get)
print('Nilai mahasiswa yang tertinggi adalah : ', tertinggi)
print('Mahasiswa dengan nilai tertinggi adalah : ', mahasiswa_tertinggi)

#mencari mahasiswa dengan nilai terendah
print('=======================================================')
terendah = min(nilai.values())
mahasiswa_terendah = min(nilai, key=nilai.get)
print('Nilai mahasiswa yang terendah adalah : ', terendah)
print('Mahasiswa dengan nulai terendah adalah : ', mahasiswa_terendah)

=======================================================
Nilai rata-rata seluruh mahasiswa adalah :  80.0
=======================================================
Nilai mahasiswa yang tertinggi adalah :  90
Mahasiswa dengan nilai tertinggi adalah :  Cobb
=======================================================
Nilai mahasiswa yang terendah adalah :  70
Mahasiswa dengan nulai terendah adalah :  Ariadne

## 3.

diberikan list aslab sebagai berikut:
```python
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
```
* **A** Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
* **B** Tambahkan informasi berikut pada data aslab:
```python
    surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
```
> *note: kalian hanya boleh menggunakan key-value pair yang disebutkan di dalam teks, tanpa menggunakan informasi tambahan yang diambil pada list yang ada*

In [4]:
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]

#program mengakses nama aslab
print('===============================================')
for i in range (1,6) :
    print('Nama Asisten : ', list_aslab[i]["nama"])
print('===============================================''\n')

#program memasukkan surel ke list_aslab
surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]

print('===============================================')
for i in range(len(list_aslab)) :
    list_aslab[i]["surel"]=surel[i]
for email in list_aslab :
    print(email)
print('===============================================')

===============================================
Nama Asisten :  Halidya Siti Hanifah
Nama Asisten :  Nurki Putra Mahardika
Nama Asisten :  Aji Manarul Aziz
Nama Asisten :  Alica Ayu Fitriani
Nama Asisten :  Dendy Halim Kusuma
===============================================

====================================================================================
{'nama': 'Berlian Safri Prakoso', 'nim': 'I0320017', 'kontak': '0858XXXXXXXX', 'surel': 'berlian@student.uns.ac.id'}
{'nama': 'Halidya Siti Hanifah', 'nim': 'I0320044', 'kontak': '0878XXXXXXXX', 'surel': 'halidya@student.uns.ac.id'}
{'nama': 'Nurki Putra Mahardika', 'nim': 'I0320076', 'kontak': '0877XXXXXXXX', 'surel': 'nurki@student.uns.ac.id'}
{'nama': 'Aji Manarul Aziz', 'nim': 'I0320119', 'kontak': '0812XXXXXXXX', 'surel': 'manarul@student.uns.ac.id'}
{'nama': 'Alica Ayu Fitriani', 'nim': 'I0320121', 'kontak': '0896XXXXXXXX', 'surel': 'alica@student.uns.ac.id'}
{'nama': 'Dendy Halim Kusuma', 'nim': 'I0320125', 'kontak': '0822XXXXXXXX', 'surel': 'dendy@student.uns.ac.id'}
====================================================================================